
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show film info by title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 16px;
        }
        h1, h2, div {
            display: inline;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>
<body>

 <h2>show film info by title</h2>
 <div th:if="${not #lists.isEmpty(filmlist)}">
    <p th:text="'Film:' + ${namestring.content}"> </p>
     <div th:each="film : ${filmlist}">
         <table class="table table-striped">
             <tr >
                 <td  th:text="${film.tconst}"></td>
                 <td  th:text="${film.originalTitle}"></td>
                 <td  th:text="${film.startYear}"></td>
                 <td  th:text="${film.genres}"></td>
                 <td  th:text="${film.titleType}"></td>
             </tr>
         </table>
     </div>
 </div>
<div th:if="${#lists.isEmpty(filmlist)}">
    <p th:text="'Film by name:' + ${namestring.content}"> </p> not found
</div>
</body>
</html>
